<template>
	<div class="modal fade" data-id="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{label.title}</h5>
					<div class="px-1" role="button" aria-label={label.close} onclick={handleAbort}>
						<i class="fa-sharp fa-solid fa-xmark fa-xl"></i>
					</div>
				</div>
				<div class="modal-body">
					<component-spinner if:true={isLoading}></component-spinner>

					<div class="row">
						<label class="col-auto col-form-label" for="key">{label.key}</label>
						<div class="col">
							<input data-id="key" id="key" class="form-control" type="text" onchange={handleKeyChange}>
							<div if:true={isKeyInvalid} class="ms-1">
								<span class="text-danger">{label.invalidKey}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-wine" aria-label={label.close}
						onclick={handleAbort}>{label.close}</button>
					<button class="btn btn-wine" onclick={handleInvitationValidation} disabled={isValidating}>
						<span
							if:true={isValidating}
							class="spinner-border spinner-border-sm"
							role="status"
							aria-hidden="true"
						></span> {validationButtonLabel}
					</button>
				</div>
			</div>
		</div>
	</div>
</template>