.background-container {
	background-image: url(https://raw.githubusercontent.com/chardinventura/invitation-handler-frontend/develop/src/assets/img/background.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 428px;
}