<template>
	<component-validator
		onsuccess={handleSuccess}
		invitation-id={selectedInvitationId}
	></component-validator>

	<div>
		<div class="my-3">
			<h3 class="text-center">Seleccione su familia</h3>
		</div>

		<div if:true={invitations} class="d-flex justify-content-center gap-2">
			<div>
				<template for:each={invitations} for:item="invitation">
					<div key={invitation.id} class="d-flex align-items-center">
						<button
							data-id={invitation.id}
							class="btn"
							onclick={handleView}
						>
						<i class="fa-sharp fa-solid fa-people-roof me-2" data-id={invitation.id}></i>
						{invitation.description}
					</button>
					</div>
				</template>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center mt-3">
		<button class="btn btn-success" onclick={handleGoBack}>VOLVER A HOME</button>
	</div>
</template>